body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
    align-content: center;
}
.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    padding: 14px 16px;
    display: flex;
    justify-content: center;
    height: auto;
    line-height: 20px;
}
.navigation ul li {
    padding-right: 10px;
}
.navigation ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    transition: background-color 0.3s;
    border-width: 20px;
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 4px;
    transition: transform 0.2s ease, z-index 0.2s ease;
}
.navigation ul li a:hover {
    background-color: blue;
    transform: scale(1.2);
    z-index: 10;
    position: relative;
}
#logo {
    font-weight: bold;
    color: green;
    justify-content: start;
}
